body{
    margin: 0%;
    height: 1500px;
    /* Background image is centered vertically and horizontally at all times */
background-position: center center;

/* Background image doesn’t tile */
background-repeat: no-repeat;

/* Background image is fixed in the viewport so that it doesn’t move when
the content’s height is greater than the image’s height */
background-attachment: fixed;

/* This is what makes the background image rescale based
on the container’s size */
background-size: cover;
}
.first
{
    width:50%;
    font-size: 400%;
    color:white;
    font-family: 'Merienda', cursive;
    position: absolute;
    top:10%;
    left:25%;
}
.intro
{
    width:60%;
    font-size: 200%;
    font-family: 'Lobster Two', cursive ;
    position:absolute;
    top:30%;
    left:20%;
    color: white;
}
.college
{
    font-size: 200%;
    width:60%;
    font-family: 'Lobster Two', cursive ;
    position :absolute;
    top:80%;
    left:20%;
    color:white;
}
.divimages
{   text-align:center;
    width:70%;
    height:200px;
    background-image: url(display.jpg);
    height: 1500px;
    /* Background image is centered vertically and horizontally at all times */
background-position: center center;

/* Background image doesn’t tile */
background-repeat: no-repeat;

    position:absolute;
    top:100%;
    left:15%;
}
.images
{   position:absolute;
    top:100%;
    left:10%;
    width:50%;
    height:60%;
    border-radius: 100%;
}
.images2
{
    position:absolute;
    top:120%;
    left:70%;
    width:20%;
    height:30%;
    border-radius: 100%;
}
