body{
    font-family: cursive;
    margin: 0%;
    background-color: #f4f9f9;
    height: 2000px;
    /* Background image is centered vertically and horizontally at all times */
background-position: center center;

/* Background image doesn’t tile */
background-repeat: no-repeat;

/* Background image is fixed in the viewport so that it doesn’t move when
the content’s height is greater than the image’s height */
background-attachment: fixed;

/* This is what makes the background image rescale based
on the container’s size */
background-size: cover;
}




.ico
{   margin-top: 1850px;
    height: 80px;
    width:80px;
    padding-right:5%;
}

.intro
{   margin: none auto auto none;
    width:60%;
    position: absolute;
    top:10%;
    left:20%;
    color: white;
    font-size: 200%;
    font-family: 'Merienda', cursive;
}
.about
{
    width:60%;
    position:absolute;
    top:70%;
    left:20%;
    font-size: 300%;
    font-family: 'Lobster Two', cursive;
    color:white;
}
.col
{
    color:#7dedff; text-decoration-line:none;
}
.hov:hover
{
    
    color:violet;
    text-decoration-line:underline;

}
.bar
{width: 60%;
height:100px;
background-color: white;
border-radius: 100%;
font-size:400%;
font-family: 'Ruslan Display', cursive;
padding-top:4% ;
}
.lin
{
    color:black;
    text-decoration-line: none;
}
.hov2:hover
{
    color:#da0037;
    text-decoration-line: underline;
}