body{
    font-family: cursive;
    margin: 0%;
    background-color: #f4f9f9;
    height: 2500px;
}

.cloud
{
    height: 200px;
    width: 200px;
}
.top-cloud
{
    position: absolute;
    top: 60px;
    left: 280px;
}
.bottom-cloud
{
    position: absolute;
    left: 1080px;
    top: 450px;
}
.navbar
{ 
    background-color: #a4ebf3;
    position: fixed;
    width: 100%;
    height: 50px;
    top: 0px;
}
.links
{
    position: absolute;
    top:0%;
    left: 50%;
}
.hov:hover
{
    color: #aaaaaa;
    text-decoration-line: underline;
}
.lin{
    position: relative;
    top: 14px;
    text-decoration-line: none;
    text-decoration-style: solid;
    color: #fffafa;
    font-size:  25px;
    padding-right: 15px;
}
.snowman
{
    position: absolute;
   
    top: 600px;
    left:120px;
}
.quote
{   font-size: 40px;
    position:absolute;
    left: 600px;
    top: 750px;
    font-family: 'Caveat', cursive;
}
.hline
{
    border-style: none;
    border-top-style: dotted;
    border-color: cornflowerblue;
    width: 30%;
    border-width: 15px;
}
.middle
{
    position:absolute;
    top: 1100px;
   width: 100%;
   height: 500px;
 }
.student
{
    position:absolute;
    top:100px;
    left:1100px;
}
.edu
{
    font-size: 40px;
    position:absolute;
    left: 50px;
    top: 100px;
    font-family: 'Caveat', cursive;  
    color: #1597bb;
}