body{
    font-family: cursive;
    margin: 0%;
    background-color: #f4f9f9;
    height: 2000px;
    /* Background image is centered vertically and horizontally at all times */
background-position: center center;

/* Background image doesn’t tile */
background-repeat: no-repeat;

/* Background image is fixed in the viewport so that it doesn’t move when
the content’s height is greater than the image’s height */
background-attachment: fixed;

/* This is what makes the background image rescale based
on the container’s size */
background-size: cover;
}



.contact
{
    color:white;
    position: absolute;
    top:1800px;
    left:45%;
    font-size: 200%;
    text-decoration-line: none;
}
.ico
{   margin-top: 1850px;
    height: 80px;
    width:80px;
    padding-right:5%;
}
.cont:hover
{
color: lightcoral;
text-decoration-line: underline;
}
.intro
{   margin: none auto auto none;
    width:60%;
    position: absolute;
    top:10%;
    left:20%;
    color: white;
    font-size: 200%;
    font-family: 'Merienda', cursive;
}
.about
{
    width:60%;
    position:absolute;
    top:70%;
    left:20%;
    font-size: 250%;
    font-family: 'Lobster Two', cursive;
    color:white;
}